/* navbar */
.navbar{
    background-color: #F8811D;
}

.btn{
    color: white;
    width: 5em;
    
}


.carousel-item{
    height: 50vh;
}

.card-content{
    height: 500px;
    width: 1000px;
}

.card{
    margin-left: 30px;
    margin-top: 5px;
}


footer{
    background-color: #5259FF;
    color: white;
    font-size: 1rem;
}


.nav-link{
    list-style: none;
}

li {
    list-style-type: none;
}