/* navbar */
.navbar{
    background-color: #F8811D;
}

.offcanvas{
    background-color: #F8811D;
}

.nav-item{
    color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.btn{
    color: white;
    width: 5em;
    
}


/* .carousel-item{
    height: 50vh;
} */

/* .card-content{
    height: 500px;
    width: 100vh;
} */

/* .card{
    margin-left: 30px;
    margin-top: 5px;
} */





.nav-link{
    list-style: none;
}

li {
    list-style-type: none;
}





/* .container{
    width: 10000px;
    height: 100101px;
    background-color: #358019;
} */


/* body landingpage */
.head1{
    width: 100%;
    height: 70vh;
    background-color: #01B8FA;
    margin-top: 60px;
}

.head1-content{
    opacity: 0;
    transform: translate(0, 50px);
    transition: 1s;
}

.head1-content.muncul{
    opacity: 1;
    transform: translate(0,0);
}

.head1-content h1{
    width: 40%;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}


.head1-content button{
    width: 6rem;
    background-color: #FF2851;
}
.head1-content button a{
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.illust1{
    opacity: 0;
    position: absolute;
    top: 90px;
    right: 0;
    height: 400px;
    transition: 3s;
}

.illust1.muncul{
    opacity: 1;
}

.illust2{
    display: none;
}



.head2{
    width: 100%;
    height: 30vh;
    background-color: #ffffff;
}



.head2-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.head2-content h1{
    width: 40%;
    color: #F8811D;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: -130px;
    margin-bottom: 30px;
    height: 40px;
    position: absolute;
}



.head2-content .head2p{
    width: 50%;
    color: #F8811D;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    opacity: 0;
    transform: translate(0, 50px);
    transition: 1s;
}

.head2-content .head2p.muncul{
    width: 50%;
    color: #F8811D;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    opacity: 1;
    transform: translate(0, 0);
}


.head3{
    width: 100%;
    height: 25vh;
    background-color: #FF2851;
}

.head3-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.head3-content .koleksi{
    width: 7rem;
    background-color: #6CC23D;
    border-color: #6CC23D;
    margin-top: -30px;
}



.ayam{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffbdc9; */
}

/* //carousel */
.your-class{
    /* background-color: #01B8FA; */
    width: 60%;
    height: 8rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

 .myclass{
    /* background-color: #6CC23D; */
    width: 2rem;
    height: 4rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.myclass .wrapper-imgground{
    width: 4rem;
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.myclass .wrapper-imgground img{
    width: 50px;
    height: 50px;
}

.myclass a{
    text-align: center;
    /* background-color: #ffffff; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

.myclass a:hover{
    text-decoration: none;
}



.head4{
    width: 100%;
    height: 40vh;
    background-color: #FEFEFE;
}

#carouselExampleFade{
    /* background-color: #01B8FA; */
    /* width: 500px; */
    height: 50vh;
}

.carousel-inner{
    /* background-color: #6CC23D; */
    height: 100%;
    /* display: flex; */
}

.carousel-item{
    display: flex !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

.item-car1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 50vh;
    /* background-color: #2A2B6C; */
}

.item1{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item1 h1{
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.item1 p{
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    
}

.item1 button{
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    
}


.carousel-item .imgwrapper{
    /* background-color: #224fa9; */
    width: 40%;
    height: 100%;
    top: 0;
    right: 0px;
    position: absolute;
}

.carousel-item .imgwrapper::before{
    /* background-color: #224fa9; */
    width: 100%;
    height: 100%;
    top: 0;
    right: 0px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Atur opacity di sini */
    pointer-events: none; /* Untuk memungkinkan interaksi dengan elemen di bawahnya */
}

.carousel-item .imgwrapper img{
    /* background-color: #01B8FA; */
    width: 100%;
    height: 100%;
    
}

.head5{
    width: 100%;
    height: 70vh;
    background-color: #F8811D;
}

.head5-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.head5-content h1{
    width: 40%;
    color: #ffffff;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: -300px;
    margin-bottom: 30px;
    height: 40px;
    position: absolute;
}



.head5-content .head5p{
    width: 50%;
    color: #ffffff;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    /* opacity: 0;
    transform: translate(0, 50px);
    transition: 1s; */
}

.flex-grid{
    /* background-color: #2A2B6C; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom dengan ukuran yang sama */
    grid-template-rows: repeat(2, auto); /* 2 baris dengan ukuran yang disesuaikan dengan konten */
    gap: 10px; /* Jarak antara grid item */
}

/* Gaya untuk grid-item (sesuaikan dengan kebutuhan Anda) */
.grid-item {
    background-color: #ffffff;
    color: #464646;
    padding: 20px;
    text-align: center;
    width: 28rem;
    height: 6rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-item .img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.grid-item .img-wrap img{
    width: 80%;
    height: 80%;
}

.content-belajar-wrap{
    width: 120%;
    /* background-color: #2A2B6C; */
}

.content-belajar-wrap h2{
    text-align: justify;
    /* background-color: #1df8f8; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: text-bottom;
    margin-bottom: -5px;
}

.content-belajar-wrap p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}



.head6{
    height: 60vh;
    background-color: #01B8FA;
    width: 100%;
    display: none;
}

.head7{
    width: 100%;
    height: 40vh;
    background-color: #6CC23D;
    display: none;
}





/* footer */
footer{
    background-color: #2A2B6C;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 40vh;
}



.content-footer h1{
    font-size: 1rem;
    font-weight: bold;
}

.content-footer h1 .brand{
    font-size: 3rem;
    font-weight: bold;
}

.content-footer ul li a{
    text-decoration: none;
}



@media screen and (max-width: 768px) {
    /* Tambahkan aturan CSS yang ingin Anda gunakan untuk tampilan layar berukuran lebih kecil */
    /* .carousel-inner{
        display: flex;
    }

    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    } */
    .head1{
        width: 100%;
        height: 40vh;
        background-color: #01B8FA;
        margin-top: 60px;
    }

    .head1-content{
        opacity: 0;
        transform: translate(0, 50px);
        transition: 1s;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .head1-content.muncul{
        /* opacity: 1;
        display: flex; */
    }  

    .head1-content h1{
        width: 60%;
        padding-top: 130px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .illust1{
        display: none;
    }

    .illust2{
       display: inline;
       position: absolute;
       bottom: 450px;
       left: 0px;
       width: 100%;
       
    }

    .grid-container {
        grid-template-columns: 1fr; /* 1 kolom pada layar berukuran lebih kecil */
        grid-template-rows: repeat(4, auto); /* 4 baris dengan ukuran yang disesuaikan dengan konten */
    }

    .grid-item{
        width: 20rem;
        height: 6rem;
    }


    .head2-content h1{
        width: 40%;
        color: #F8811D;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: -200px;
        margin-bottom: 30px;
        width: 80%;
        height: 40px;
        position: absolute;
    }

    

    .head2-content .head2p{
        width: 50%;
        color: #F8811D;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        margin-top: 80px;
        opacity: 0;
        transform: translate(0, 50px);
        transition: 1s;
        width: 80%;
    }
    
    .head2-content .head2p.muncul{
        width: 50%;
        color: #F8811D;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        margin-top: 80px;
        opacity: 1;
        transform: translate(0, 0);
        width: 80%;
    }

    .item1{
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .item1 h1{
        /* height: 100%; */
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        font-weight: bold;
    }
    
    .item1 p{
        /* height: 100%; */
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        
    }
    
    .item1 button{
        /* height: 100%; */
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        
    }


    .carousel-item .imgwrapper{
        display: none;
    }
    
    .carousel-item .imgwrapper::before{
        display: none;
    }
    
    .carousel-item .imgwrapper img{
        display: none;
    }

    .head5{
        width: 100%;
        height: 80vh;
        background-color: #F8811D;
    }

    .head5-content h1{
        width: 60%;
        color: #ffffff;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin-top: -600px;
        margin-bottom: 30px;
        height: 40px;
        position: absolute;
    }
    
    
    
    .head5-content .head5p{
        width: 80%;
        color: #ffffff;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;
        /* opacity: 0;
        transform: translate(0, 50px);
        transition: 1s; */
    }

    footer{
        background-color: #2A2B6C;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        height: 40vh;
    }
}

@media screen and (max-width: 576px) {
    /* Tambahkan aturan CSS yang lebih khusus untuk layar berukuran lebih kecil */
   
}
